<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pipeline</title>
  <link rel="stylesheet" href="components/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.min.css">
  <link rel="stylesheet" href="components/font-awesome/css/all.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="app">
    <div class="loading" v-if="(page.status=='processing')">
      <div id="preloader"><span></span><span></span><span></span><span></span></div>
    </div><!-- .loading --> 

    <app-message v-bind:message="message" v-if="message!=null"></app-message>

    <app-sidebar v-bind:menu="page.menu" v-if="(page.status=='mounted')"></app-sidebar>
    <main id="main" class="slds-grid slds-wrap" v-if="(page.status=='mounted')">
      <!-- loading -->
      <app-spinner v-if="page.loading"></app-spinner>
      <div class="slds-backdrop slds-backdrop_open page-loading-mockup" v-if="page.loading"></div>
      <!-- title -->
      <app-header v-bind:title="page.title" v-if="(page.status=='mounted')"></app-header>

      <div class="container slds-size_2-of-2 slds-m-around_small slds-m-top_medium">
        <app-newpipeline v-bind:connections="connections" v-bind:record="pipeline" v-bind:setting="setting" v-if="page.menu=='newpipeline'" ref="newpipeline"></app-newpipeline>
        <app-connections v-bind:connections="connections" v-if="page.menu=='connections'"></app-connections>
        <app-pipelines v-bind:connectionmap="connectionMap" v-bind:pipelines="pipelines" v-bind:detail="pipeline" v-if="page.menu=='pipelines'"></app-pipelines>
        <pipeline-detail v-bind:pipeline="pipeline" v-if="page.menu=='pipelines' && pipeline!=null" ref="pipelinedetail"></pipeline-detail>
      </div><!-- .container -->
    </main><!-- #main -->

    <section role="dialog" class="slds-modal slds-fade-in-open" v-if="modal.show">
      <app-modal-connect v-bind:modal="modal"></app-modal-connect>
    </section><!-- .slds-modal -->  
    <div class="slds-backdrop slds-backdrop_open" v-if="modal.show"></div>

    <app-notification v-bind:setting="setting" v-if="needUpdate"></app-notification>

  </div><!-- #app -->

  <script type="text/javascript" src="components/vue/dist/vue.min.js"></script>
  <script type="text/javascript" src="components/moment/min/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="components/xlsx-populate/browser/xlsx-populate.min.js"></script>
  <script type="text/javascript" src="components/js-xlsx/dist/xlsx.full.min.js"></script>
  <script type="text/javascript" src="components/progressbar.js/dist/progressbar.min.js"></script>
  <script type="text/javascript" src="components/crypto-js/crypto-js.js"></script>
  <script type="text/javascript" src="js/include/ExcelHandler.js"></script>
  <script type="text/javascript" src="js/include/master.js"></script>
  <script type="text/javascript" src="js/include/ga.js"></script>
  <script type="text/javascript" src="js/vue-components/app-spinner.js"></script>
  <script type="text/javascript" src="js/vue-components/app-header.js"></script>
  <script type="text/javascript" src="js/vue-components/app-message.js"></script>
  <script type="text/javascript" src="js/vue-components/app-sidebar.js"></script>
  <script type="text/javascript" src="js/vue-components/app-newpipeline-detail-git.js"></script>
  <script type="text/javascript" src="js/vue-components/app-newpipeline-detail-sfdc.js"></script>
  <script type="text/javascript" src="js/vue-components/app-newpipeline.js"></script>
  <script type="text/javascript" src="js/vue-components/app-connections.js"></script>
  <script type="text/javascript" src="js/vue-components/app-pipeline-detail.js"></script>
  <script type="text/javascript" src="js/vue-components/app-pipelines.js"></script>
  <script type="text/javascript" src="js/vue-components/app-modal-connect.js"></script>
  <script type="text/javascript" src="js/vue-components/app-notification.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
